body {
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

button:hover {
    color: #fff;
    background-color: #00aaff;
}

.social-links {
    text-align: center;
}

.social-links a {
    font-size: 72px;
    color: #00aaff;
    margin: 0 20px;
    text-decoration: none;
}

.social-links a:hover {
    color: #f2f2f2;
}
